<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Base Link (Chassis) -->
    <link name="base_link">
        <collision>
            <origin xyz="0 0 ${base_height/2}" rpy="0 0 0" />
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}" />
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 ${base_height/2}" rpy="0 0 0" />
            <geometry>
                <box size="${base_length/10} ${base_width/10} ${base_height/10}" />
            </geometry>
            <material name="orange" />
        </visual>

        <inertial name="base_link_inertia">
            <origin xyz="0 0 ${base_height/2}" rpy="0 0 0" />
            <mass value="${chassis_mass}" />
            <inertia
                ixx="${chassis_mass / 12.0 * (base_length*base_length + base_height*base_height)}"
                iyy="${chassis_mass / 12.0 * (base_height*base_height + base_width*base_width)}"
                izz="${chassis_mass / 12.0 * (base_width*base_width + base_length*base_length)}"
                ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>
    </link>
    
    <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0.0 0.0 ${wheel_z-wheel_radius}" rpy="0 0 0"/>
    </joint>
</robot>