<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
        
        <link name="pi">
    
            <visual>
                <origin xyz="${pi_x} ${pi_y} ${pi_z}" rpy="0 0 0" />
                <geometry>
                    <box size="${pi_length} ${pi_width} ${pi_height}" />
                </geometry>
                <material name="orange" />
            </visual>
    
            <inertial>
                <origin xyz="${pi_x} ${pi_y} ${pi_z}" rpy="0 0 0" />
                <mass value="${pi_mass}" />
                <!-- intertia for a box -->
                <inertia
                    ixx="${pi_mass / 12.0 * (pi_length*pi_length + pi_height*pi_height)}"
                    iyy="${pi_mass / 12.0 * (pi_height*pi_height + pi_width*pi_width)}"
                    izz="${pi_mass / 12.0 * (pi_width*pi_width + pi_length*pi_length)}"
                    ixy="0.0" ixz="0.0" iyz="0.0" />
            </inertial>
        </link>

</robot>