<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Wheel Macro -->
    <xacro:macro name="wheel" params="prefix y_reflect">
        <!-- Wheel Joint -->
        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="base_link" />
            <child link="${prefix}_wheel" />
            <origin xyz="${wheel_x} ${y_reflect*wheel_y} ${wheel_z}" rpy="0 0 0" />
            <axis xyz="0 1 0" />
        </joint>
        <!-- Wheel Link -->
        <link name="${prefix}_wheel">
            <collision>
                <origin xyz="0 0 0" rpy="${PI/2} 0 0" />
                <geometry>
                    <cylinder length="${wheel_len}" radius="${wheel_radius}" />
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0" rpy="${PI/2} 0 0" />
                <geometry>
                    <cylinder length="${wheel_len}" radius="${wheel_radius}" />
                </geometry>
                <material name="green" />
            </visual>

            <inertial>
                <origin xyz="0 0 0" rpy="${PI/2} 0 0" />
                <mass value="${wheel_mass}" />
                <inertia
                    ixx="${wheel_mass / 12.0 * (3*wheel_radius*wheel_radius + wheel_len*wheel_len)}"
                    iyy="${wheel_mass / 12.0 * (3*wheel_radius*wheel_radius + wheel_len*wheel_len)}"
                    izz="${wheel_mass / 2.0 * wheel_radius*wheel_radius}"
                    ixy="0.0" ixz="0.0" iyz="0.0" />
            </inertial>
        </link>
    </xacro:macro>

    <xacro:wheel prefix="left" y_reflect="1" />
    <xacro:wheel prefix="right" y_reflect="-1" />

    <joint name="caster_joint_gz" type="fixed">
        <parent link="base_link"/>
        <child link="front_caster_gz"/>
        <origin xyz="${caster_x} ${caster_y} ${caster_z}" rpy="0 0 0"/>
    </joint>

    <!-- Caster Wheel -->
    <link name="front_caster_gz">
        <visual>
            <geometry>
                <sphere radius="${caster_radius}"/>
            </geometry>
            <material name="black"/>
        </visual>

        <collision>
            <geometry>
                <sphere radius="${caster_radius}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="${caster_mass}" />
            <inertia
                ixx="${2/5 * caster_mass * caster_radius*caster_radius}"
                iyy="${2/5 * caster_mass * caster_radius*caster_radius}"
                izz="${2/5 * caster_mass * caster_radius*caster_radius}"
                ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>
    </link>

    <gazebo reference="front_caster_gz">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <fdir1 value="1 0 0"/>
    </gazebo>




</robot>