<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="spike" >

  <xacro:arg name="namespace"        default=""/>
  <xacro:property name="namespace"    value="$(arg namespace)"/>

  <!-- Import Rviz colors -->
  <xacro:include filename="body/materials.xacro" />
    
  <!-- Import platform -->
  <xacro:include filename="body/body.xacro"/>
  
  <!-- differential drive  and joint stage plugin -->
  <xacro:include filename="body/plugins.xacro"/>

  <xacro:include filename="ros_control.xacro"/>

  <xacro:system_hardware />
  
</robot>