<?xml version="1.0"?>

<model>
  <name>Lego Spike</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Moritz Taferner</name>
    <email>e12102632@student.tuwien.ac.at</email>
  </author>

  <description>
    A model of the Lego Spike
  </description>

  <depend>
  </depend>
</model>