<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- inclue materials
    <xacro:include filename="materials.xacro"/> -->

    <!-- include propberties -->
    <xacro:include filename="properties.xacro"/>

    <!-- include chassis -->
    <xacro:include filename="chassis.xacro"/>

    <!-- include wheels -->
    <xacro:include filename="wheels.xacro"/>

    <xacro:include filename="camera.xacro"/>


</robot>